@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-app: #1e293b;
  --color-card-background: #334155;
  --color-card-p-text: #e2e8f0;
  --color-card-s-text: #94a3b8;
  --color-ae-card-background: #475569;
  --color-mp-card-background: #1e293b;
  --color-card-h-line: #475569;
  --color-mp-card-t-background: #0a91b1;
  --color-mp-card-t-background-dark: #076b82;
}

@layer utilities {
  .range-thumb {
    --track-height: 0.75rem;
    --thumb-size: 2.25rem;
    --thumb-width: 1.125rem;
    --thumb-margin: calc((var(--thumb-size) - var(--track-height)) / -2);
  }

  .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-width);
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #3a3a3a, #1c1c1c);
    border: 1px solid #555;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1),
      inset 0 -2px 4px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: var(--thumb-margin);
    cursor: pointer;
  }

  .range-thumb::-webkit-slider-runnable-track {
    height: var(--track-height);
    background: linear-gradient(
      to right,
      #0a91b1 0%,
      #0a91b1 var(--range-percent, 50%),
      #94a3b8 var(--range-percent, 50%),
      #94a3b8 100%
    );
    border-radius: 9999px;
  }

  .range-thumb::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-width);
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #3a3a3a, #1c1c1c);
    border: 1px solid #555;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1),
      inset 0 -2px 4px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .range-thumb::-moz-range-track {
    height: var(--track-height);
    background: linear-gradient(
      to right,
      #0a91b1 0%,
      #0a91b1 var(--range-percent, 50%),
      white var(--range-percent, 50%),
      white 100%
    );
    border-radius: 9999px;
  }
}
