@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-app: #1e293b;
  --color-card-background: #334155;
  --color-card-p-text: #e2e8f0;
  --color-card-s-text: #94a3b8;
  --color-ae-card-background: #475569;
  --color-mp-card-background: #1e293b;
  --color-card-h-line: #475569;
  --color-mp-card-t-background: #0a91b1;
  --color-mp-card-t-background-dark: #076b82;
}

@layer utilities {
  .range-thumb {
    --track-height: 0.75rem;
    --thumb-size: 1.25rem; /* Slightly larger size for a greater radius */
    --thumb-margin: calc((var(--thumb-size) - var(--track-height)) / -2);
  }

  .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size); /* Adjusted size */
    border-radius: 50%; /* Fully rounded */
    background: #076b82; /* Slightly darker color */
    border: none; /* Remove border */
    margin-top: var(--thumb-margin);
    cursor: pointer;
  }

  .range-thumb::-webkit-slider-runnable-track {
    height: var(--track-height);
    background: linear-gradient(
      to right,
      #0a91b1 0%,
      #0a91b1 var(--range-percent, 50%),
      #94a3b8 var(--range-percent, 50%),
      #94a3b8 100%
    );
    border-radius: 9999px;
  }

  .range-thumb::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size); /* Adjusted size */
    border-radius: 50%; /* Fully rounded */
    background: #076b82; /* Slightly darker color */
    border: none; /* Remove border */
    cursor: pointer;
  }

  .range-thumb::-moz-range-track {
    height: var(--track-height);
    background: linear-gradient(
      to right,
      #0a91b1 0%,
      #0a91b1 var(--range-percent, 50%),
      white var(--range-percent, 50%),
      white 100%
    );
    border-radius: 9999px;
  }
}
